$color-white: #fff;
$color-gray: #ccc;
$color-gray-dark: #666;
$color-gray-dark-deep: #4d4d4d;
$color-red: red;

// ログインボタン
// devise 共通リンク部分の色
$color-main: #84b693;
$color-main-dark: #4a6653; // リンクにカーソルを載せたときの色

$color-background: #f5f5f5;

//「必須」ラベルの色
$color-required: #ef367f;
