<div class="row">
  テストページ
</div>

<div class="row">
  <div id="calendar"></div>
  <ul class="list-group" style="max-width: 400px;">
    <% @games.each do |game| %>
      <li class="list-group-item">
        <%= link_to game_path(game) do %>
          <%= game.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div> 