.bg-mainColor {
  background: #333;
  color: #fff;
}

// 登録するボタン
.btn-okColor {
  background: #ffa938;
  color: #fff;
  transition-duration: 0.3s;
}

// 登録するボタン ちょっと明るくする
.btn-okColor:hover {
  color: #fff;
  opacity: 0.6;
  transition-duration: 0.3s;
}
