/*
 *= require_self
 *= require fullcalendar
 */
@import "reset";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "config/*";
@import "modules/*";
@import "override/*";

html,
body {
  height: 100vh;
}

.container-fluid {
  height: calc(100vh - 56px);
}

body {
  background: #f5f5f5;
}

* {
  box-sizing: border-box;
  overflow: scroll;
  -ms-overflow-style: none; // IEでスクロールバーを非表示にする
  overflow: -moz-scrollbars-none; // Firefoxでスクロールバーを非表示にする
}

// Chromeでスクロールバーを非表示にする
*::-webkit-scrollbar {
  display: none;
}

// フォーム入力時の枠線を強制的に消す
*:focus {
  outline: none !important;
  box-shadow: none !important;
}
